@media(max-width: 1200px){
    main aside nav.side ul{
        font-size: 15px;
    }
    main aside div.contact div{
        font-size: 12px;
    }
    main aside div.contact div i{
        font-size: 18px;
        margin-left: 15px;
    }
    main .media ul#blog li .title{
        font-size: 14px;
        line-height: 250%;
    }
    main section.tile i.logo{
        font-size: 40px;

    }
    main section.tile .followers, main section.tile .clickable{
        font-size: 15px;
    }
    main .sign-panel h1, main .newsletter-panel h1{
        font-size: 18px;
        line-height: 150%;
    }
    main .sign-panel p, main .newsletter-panel p{
        font-size: 14px;
        line-height: 150%;
    }
    
    main .sign-panel .icons{
        padding-top: 10px;
    }
}
@media(max-width: 900px){
    nav.top ul {
        font-size: 14px;
    }
    nav.top ul li.option{
        display: none;
    }
    main aside{
        width: 49%;
        margin-right: 1%;
        margin-bottom: 1%;
    }
    main section.media{
        width: 49%;
        margin-right: 0;
        margin-left: 1%;
        margin-bottom: 1%;
    }
    main aside nav.side ul{
        font-size: 16px;
    }
    main aside nav.side ul li{
        padding-left: 20px;
    }
    main aside div.contact div{
        font-size: 16px;
    }
    
    main section.tile{
        width: 49%;
        margin:0;
        margin-bottom: 2%;
    }
    main section.twitter{
        margin-right: 1%;
    }
    main section.facebook{
        margin-left: 1%;
    }
    main section.empty-tile{
        width: 100%;
        margin: 0;
        height: 100px;
        margin-bottom: 2%;
        margin-top: 1%;
    }
    main .sign-panel, main .newsletter-panel{
        width: 100%;
        margin: 0;
    }
    main .sign-panel{
        margin-bottom: 2%;
    }

}
@media (max-width:600px){
    main aside div.contact div{
        font-size: 14px;
    }
}