$background: #475D7B;
$nav-active: #56CCC8;
$gray-icons: #707070;

@mixin flex(){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin centring($widthValue, $heightValue){
    width: $widthValue;
    height: $heightValue;
    margin: {
        right: auto;
        left: auto;
    }
    
}
@mixin tileProperties($marginProperty, $marginValue, $bgColorValue){
    margin-#{$marginProperty}: $marginValue;
    background-color: $bgColorValue;
}

@mixin tileSize($width, $height, $floatValue){
    width: $width;
    height: $height;
    float: $floatValue;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
    background-color: $background;
}

.active{
    color: $nav-active;
}

.container{
    @include centring(80vw, 100vh);
}


nav{
    
    @include centring(100%, 8%);
    margin: {
        top: 15px;
        bottom: 15px;
    }
    
    border: 1px solid white;
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: $gray-icons;

    ul{
        @include flex();
        height: 100%;
        width: 100%;
        list-style: none;

        li{
            flex-basis: 50px;
            line-height: 350%;
            text-align: center;

            i{
                color: #C5CDD1;
            }
            &.option{
                flex-basis: 100px;
            }
    
            &.end{
                justify-self: flex-end;
            }
        }


        div.empty{
            flex-grow: 1;
        }

        li.smedia-panel{
            @include flex();
            flex-basis: 150px;
            border: {
                right: 1px solid #C5CDD1;
                left: 1px solid #C5CDD1;
            }

            i{
                flex-basis: 50px;
                line-height: 350%;

                &:hover{
                    background-color:$nav-active ;
                    color: white;
                    cursor: pointer;
                }
            }
          
        }
        
        li:not(.smedia-panel):hover{
            background-color:$nav-active;
            color: white;
            cursor: pointer;

            i {
                color: white;
            }
        }

    }
}

.main {
    @include centring(100%, 100vh);

    .side-nav{
        @include tileSize(25%,100% ,left );
        background-color: #C5CDD1;
    }

    .media{
        @include tileSize(23%,100% ,left );
        @include tileProperties(right, 2%, #152840);
        color: white;
    }

    .empty-tile{
        @include tileSize(23%, 51%,left );
        @include tileProperties(right,2% ,gray );
    }

    %socialTiles{
        @include tileSize(25%,24% ,right );
    }

    .facebook-tile{
        @extend %socialTiles;
        @include tileProperties(bottom,1% , #4D6BAA)
    }

    .twitter-tile{
        @extend %socialTiles;
        @include tileProperties(top,1% , #4FC6F8)
    }

    .sign-panel, .newsletter-panel{
        @include tileSize(50%,22% ,right );
        @include tileProperties(top,2% ,honeydew );
    }
    
    .newsletter-panel::after{
        clear: both;
    }

}