$background: #475D7B;
$nav-active: #56CCC8;
$gray-icons: #707070;

@mixin flex($directionValue){
    display: flex;
    flex-direction: $directionValue;
    justify-content: space-between;
}
@mixin centring($widthValue, $heightValue){
    width: $widthValue;
    height: $heightValue;
    margin: {
        right: auto;
        left: auto;
    }
    
}
@mixin tileProperties($marginProperty, $marginValue, $bgColorValue){
    margin-#{$marginProperty}: $marginValue;
    background-color: $bgColorValue;
    position: relative;
}

@mixin tileSize($width, $height, $floatValue){
    width: $width;
    height: $height;
    float: $floatValue;
}
@mixin tileContentProperties($fontSize, $axisYProperty, $axisYValue, $axisXProperty, $axisXValue){
    font-weight: bold;
    color: white;
    font-size: $fontSize;
    position: absolute;
    #{$axisXProperty}: $axisXValue;
    #{$axisYProperty}: $axisYValue;
}
@mixin panelFontProperties($fontSize, $fontWeight){
    text-align: center;
    font-size:$fontSize;
    font-weight: $fontWeight;
    color:#475055;
    letter-spacing: 1px;
    line-height: 200%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
    background-color: $background;
    font-family: 'Lato', sans-serif;
}

.activeOpt{
    color: $nav-active;
}

.container{
    @include centring(80vw, 100vh);
}


nav.top{
    
    @include centring(100%, 8%);
    margin: {
        top: 15px;
        bottom: 15px;
    }
    
    border: 1px solid white;
    background-color: white;
    
    color: $gray-icons;

    ul{
        @include flex(row);
        height: 100%;
        width: 100%;
        list-style: none;

        li{
            flex-basis: 50px;
            line-height: 350%;
            text-align: center;

            i{
                color: #C5CDD1;
            }
            &.option{
                flex-basis: 100px;
            }
    
            &.end{
                justify-self: flex-end;
            }
        }


        div.empty{
            flex-grow: 1;
        }

        li.smedia-panel{
            @include flex(row);
            flex-basis: 150px;
            border: {
                right: 1px solid #C5CDD1;
                left: 1px solid #C5CDD1;
            }

            i{
                flex-basis: 50px;
                line-height: 350%;

                &:hover{
                    background-color:$nav-active ;
                    color: white;
                    cursor: pointer;
                }
            }
          
        }
        
        li:not(.smedia-panel):hover{
            background-color:$nav-active;
            color: white;
            cursor: pointer;

            i {
                color: white;
            }
        }

    }
}

main {
    @include centring(100%, 100vh);

    aside{
        @include tileSize(25%,100% ,left );
        background-color: #C5CDD1;
        nav.side{
            height: 70%;
            width: 100%;
            background-color: #FFF;
            margin: 0;
            
            ul {
                @include centring(100%, 100%);
                @include flex(column);
                font-size: 18px;
                list-style: none;
                color: gray;

                li{
                display: flex;
                align-items: center;
                flex-grow:1;
                padding-left: 25px;
                box-shadow: 0px 1px #999;
                text-align: left;

                
                &.active{
                    background-color: $nav-active;
                    color: white;
                }
                &:hover{
                    background-color: $nav-active;
                    color: #FFF;
                    cursor: pointer;
                }
                i{
                    margin-right: 10px;
                }
            }
            
        }
        }
        div.contact{
            @include centring(100%, 30%);
            @include flex(column);

            div{
                display: flex;
                align-items: center; 
                flex-grow:1;
                color: whitesmoke;
                font-size: 14px;

                i{
                    margin: {
                        left: 40px;
                        right: 25px;
                    }
                    font-size: 24px;
                }
            }
        }
        
    }

    .media{
        @include tileSize(23%,100% ,left );
        @include tileProperties(right, 2%, #152840);
        color: white;
        ul#blog{
            height: 100%;
            width: 100%;
            list-style: none;
            li{
                height: 25%;
                width: 100%;

                .title{
                    color: $nav-active;
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                    position: relative;
                    padding-left: 20px;
                    line-height: 300%;
                    border-top: 1px solid gray;
                    box-shadow:  whitesmoke;

                    @keyframes arrowMovement{
                        from {right: 10%}
                        to{right: auto;}
                    }
                    i{
                        position: absolute;
                        top: 50%;
                        right: 10%;
                        transform: translateY(-50%);
                        
                    }
                    &:hover{
                        cursor: pointer;
                    }
                    &:hover i{
                        //right: auto;
                        margin-left: 20px;
                        animation-name: arrowMovement;
                        animation-duration: .4s;
                        animation-timing-function: ease;
                        right: auto;
                        
                        
                    }
                }
                .desc{
                    color: white;
                    font-size: 16px;
                    margin-left:20px;
                    line-height: 200%
                }
                &:hover{
                    background-color: rgba(255,255,255, 0.1);
                    cursor: default;
                }
            }
        }
    }

    .empty-tile{
        @include tileSize(23%, 51%,left );
        @include tileProperties(right,2% ,gray );
    }

    %socialTiles{
        @include tileSize(25%,24% ,right );
    }
    .tile{
        @extend %socialTiles;
        i.logo{
            @include tileContentProperties(50px, top, 10%, left, 10%);
        }

        .followers{
            @include tileContentProperties(20px, bottom, 10%, left, 10%);
        }

        .clickable{
            @include tileContentProperties(20px, bottom, 10%, right, 10%);

            i{
                margin-left: 5px;
               
            }
            &:hover{
                cursor: pointer;
            }
            

        }
        
    }
    .facebook{
        @include tileProperties(bottom,1% , #4D6BAA);
    }

    .twitter{
        @include tileProperties(top,1% , #4FC6F8);
    }
    

    .sign-panel, .newsletter-panel{
        @include tileSize(50%,22% ,right );
        @include tileProperties(top,2% ,white);
        padding-top: 10px;
        h1{   
            @include panelFontProperties(24px, 400)  ;
        }
        p{
            @include panelFontProperties(18px, 300);
        }
        .icons {
            text-align: center;
            padding-top: 15px;
            img{
                padding-right: 30px;
                &:hover{
                    cursor: pointer
                }
            }
        }
        form{
            text-align: center;
            padding-top: 10px;
            input[type="email"]{
                width: 50%;
                line-height: 250%;
                padding: 0 10px;
                
            }
            input[type="submit"]{
                line-height: 250%;
                padding: 0 10px;
                margin-left: 15px;
                border: none;
                border-radius: 10%;
                background-color: #EA6060;
                font-weight: bold;
                text-transform: uppercase;
                color: white;
                &:hover{
                    cursor: pointer
                }
                
            }
        }
    }
    
    .newsletter-panel::after{
        clear: both;
    }

}

